.background{background-image:url(image/bgimg.jpg) ; background-repeat:no-repeat; background-size: cover;}
h1{color:#FFF ;text-align:center; font-size:36px; font-family:"Comic Sans MS", cursive}
h2{color:#9FF; text-align:center; font-size:18px; font-family:"MS Serif", "New York", serif}
.fenquziti{color:#F69 ;text-align:left; font-size:24px; font-family:"Comic Sans MS", cursive}
.heimu{background-color:#000}